.Education {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Education-grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 3rem auto;
}
