.PressCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: white;
}

.PressCard:hover {
  color: var(--color-primary);
  background-color: white;
  cursor: pointer;
}

.PressCard-title {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.PressCard-image {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
}

.PressCard-arrow {
  color: var(--color-primary);
  /* font-size: 1.5rem; */
  align-self: flex-end;
}

.PressCard-title,
.PressCard-type,
.PressCard-date,
.PressCard-subtitle {
  padding: 0 3rem;
}
